# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv*/
.venv*
venv*/
venv*
env/
venv/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# Logs
*.log
debug/*.log

# Editor / IDE
.idea/
.vscode/

# PyCharm shelf
.idea/shelf/
.idea/workspace.xml

# Pyproject build dirs
build/
dist/
*.egg-info/
